<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="py-3 mx-auto max-w-screen-xl md:px-6">
    <div class="flex items-center">
      <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
        <li>
          <a
            class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white"
            href="/dashboard"
          >Back Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>

  <form
    id="edit-post-form"
    data-id="{{post.id}}"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Title
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="title"
        type="text"
        placeholder="Title"
        value="{{post.title}}"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="text">
        Text
      </label>
      <textarea
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="text"
      >{{post.text}}</textarea>
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Save
      </button>
      <a
        class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
        href="#"
      >
        Add Comment
      </a>
    </div>
  </form>
  <form
    id="comment-form"
    data-id="{{post.id}}"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="text">
        Comment
      </label>
      <textarea
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="comment-text"
      ></textarea>
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Create comment
      </button>
    </div>
  </form>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/comment.js"></script>